<!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <div class="sidenav-header-inner text-center"><img src="{{ base_url() }}/static/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5 text-uppercase">Anderson Hardy</h2><span class="text-uppercase">Administrator</span>
          </div>
          <div class="sidenav-header-logo"><a href="#" class="brand-small text-center"> <strong>R</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <div class="main-menu">
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="{{ path_for('home') }}"> <i class="fa fa-folder-open-o"></i><span>Domains (13)</span></a></li>
            <li> <a href="#group-nav-list" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder"></i><span>Groups (3)</span>
                <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
              <ul id="group-nav-list" class="collapse list-unstyled">
                <li> <a href="#">Credit domains</a></li>
                <li> <a href="#">Credit repair</a></li>
                <li> <a href="#">Dinero</a></li>
              </ul>
            </li>

          </ul>
        </div>
        <div class="admin-menu">
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li> <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false"><i class="fa fa-user"></i><span>Admin panel</span>
                <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
              <ul id="pages-nav-list" class="collapse list-unstyled">
                <li> <a href="{{ path_for('groups') }}">Groups</a></li>
                <li> <a href="{{ path_for('users') }}">Users</a></li>
                <li> <a href="{{ path_for('role') }}">Role</a></li>
                <div class="dropdown-divider"></div>
                <li class="disabled"> <a href="#">Backup</a></li>
              </ul>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>